<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.taticadesucesso.igrejadigital" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IELBC Comunidade</name>
    <description>
        App oficial da comunidade IELBC (Igreja Evangélica Livre de Balneário Camboriu).
    </description>
    <author email="contato@taticadesucesso.com.br" href="http://www.taticadesucesso.com.br">
        Time Tática de Sucesso
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*.taticadesucesso.com.br/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icons/icon.png" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icons/android/ldpi.png" />
        <icon density="mdpi" src="res/icons/android/mdpi.png" />
        <icon density="hdpi" src="res/icons/android/hdpi.png" />
        <icon density="xhdpi" src="res/icons/android/xhdpi.png" />
        <preference name="StatusBarOverlaysWebView" value="true" />
        <preference name="StatusBarBackgroundColor" value="#518b68" />
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
        <icon height="180" src="icon.png" width="180" />
        <splash height="1136" platform="ios" src="splash.png" width="640" />
        <splash height="1136" platform="ios" src="res/screens/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" platform="ios" src="res/screens/ios/Default-667h.png" width="750" />
        <splash height="2208" platform="ios" src="res/screens/ios/Default-736h.png" width="1242" />
        <splash height="2048" platform="ios" src="res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" platform="ios" src="res/screens/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="960" platform="ios" src="res/screens/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" platform="ios" src="res/screens/ios/Default~iphone.png" width="320" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#158c67" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarDefaultScrollToTop" value="false" />
    <preference name="SplashMaintainAspectRatio" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#518b68" />
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="prerendered-icon" value="true" />
    <preference name="permissions" value="none" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="fullscreen" value="false" />
    <engine name="android" spec="7.1.4" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-screen-orientation" spec="3.0.1" />
</widget>
