/** Animates **/
.statusbar-overlay {
  background: #000000;
}
/* Tamanho de ícones .f7-icons  */
i.size-22 {
  font-size: 22px;
}
i.size-25 {
  font-size: 25px;
}
i.size-29 {
  font-size: 29px;
}
i.size-50 {
  font-size: 50px;
}
a {
  color: #238c67;
}
hr {
  border: 0;
  border-bottom: 1px solid #f7f7f7;
  opacity: 0.5%;
  -moz-opacity: 0.5%;
  filter: alpha(opacity=50%);
}
.f7-icons,
.framework7-icons {
  color: #238c67;
}
.panel {
  background-color: #238c67;
}
.panel.panel-left::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../church/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.15;
  content: "";
  z-index: -1;
}
.panel.panel-right p,
.panel.panel-right h4,
.panel.panel-right a {
  color: #f7f7f7;
}
.panel #logo {
  background-color: #FFF;
  width: 70%;
  max-width: 150px;
  height: auto;
  margin: auto;
  display: block;
  margin-top: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 7px solid #238c67;
}
.panel .igreja-nome {
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  color: #FFF;
  text-transform: uppercase;
  margin-top: 10px;
}
.panel .list-block ul {
  background: none;
  color: #FFF;
}
.panel .list-block ul li.is-offline {
  display: none!important;
}
.panel .list-block ul li .item-content .item-media i {
  color: #FFF;
  font-size: 20px;
}
.panel .list-block ul li .item-content .item-inner .item-title {
  color: #FFF;
}
.panel .list-block ul li .item-content .item-inner .item-title a {
  color: #FFF;
}
.pages h3 i {
  position: relative;
  top: 3px;
  font-size: 25px;
  margin: 5px;
}
.pages div[data-page=offline] h3 i {
  color: #d9534f;
}
div[data-page=contato] .page-content .content-block i {
  position: relative;
  top: 6px;
  margin: 0 10px;
}
